.skillsScreen h4 {
	position: relative;
	text-align: center;
	letter-spacing: 0.1rem;
	margin: 1.3em 0 .7em;
}

.skillsScreen h4::before, .skillsScreen h4::after {
	content: "";
	background-color: #505050;
	position: absolute;
	width: 80px;
	height: 1px;
	top: 12px;
	left: 20px;
	box-shadow: 0px -1px #2c2c2c;
}

.skillsScreen h4::after {
	left: unset;
	right: 20px;
}

.skillsScreen .list {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.skillsScreen .list .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70px;
}

.skillsScreen .list .item p {
	margin-top: .5em;
	font-size: .9em;
	color: #bbb;
}