.skillsScreen h4 {
	text-align: center;
}

.skillsScreen .list {
	display: flex;
	justify-content: space-evenly;
}

.skillsScreen .list .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70px;
}

.skillsScreen .list .item p {
	font-size: .9em;
	color: #bbb;
}