/* SOCIAL SCREEN */
/* .socialScreen {
	display: flex;
	justify-content: center;
	flex-direction: column;
} */

.socialScreen .grid {
	display: flex;
	/* flex-wrap: wrap; */
	/* gap: 14px; */
	justify-content: center;
}

.socialScreen .grid > * {
	padding: 10px;
	width: 90px;
	border-radius: 5px;
	line-height: 0;
	background-color: transparent;
	border: none;
	transition: background-color .1s ease;
}

.socialScreen .grid > *:hover {
	background-color: #fff2;
}

.socialDetail {
	display: flex;
	gap: 1rem;
	width: 100%;
	height: 350px;
}

.socialDetail p {
	font-size: 0.8rem;
	color: #9C9C9C;
}

.socialDetail > div:first-child {
	min-width: 110px;
	border-right: 1px solid #4C4F55;
}

.socialDetail > div:first-child p {
	margin: 0.2rem 0 1.5rem;
}

.socialDetail .subtitle {
	display: flex;
	align-items: center;
	gap: 5px;
}

.socialDetail img[alt="profile"] {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.socialDetail .title {
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 0.9rem;
}

/* LANGUAGE */
.socialDetail .gitCircle {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

/* RIGHT ICONS */
.socialDetail svg {
	width: 20px;
	fill: #9c9c9c;
}

/* LEFT ICONS */
.socialDetail > div:first-child svg {
	fill: white;
}

/* TEMPORAL, FIX THIS */
.socialDetail {
	gap: 0.4rem;
	width: 106%;
	transform: translateX(-10px);
}

.socialDetail .title {
	font-size: 0.8rem;
}
/* TEMPORAL, FIX THIS */